<% provide :full_title, "Questions"%>

<h1 class="mb-4">Questions</h1>
<%= link_to "<i class='bi bi-plus'></i> New Question".html_safe, new_question_path, class: "btn btn-primary mb-3" %>

<%= render 'shared/alert' %>

<% @questions.each do |question| %>
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= question.title %></h5>
      <p class="card-text"><%= question.body %></p>
      <div class="d-flex">
        <%= link_to "<i class='bi bi-eye'></i> View".html_safe, question_path(question), class: "btn btn-info btn-sm me-2" %>
        <%= link_to "<i class='bi bi-pencil'></i> Edit".html_safe, edit_question_path(question), class: "btn btn-warning btn-sm me-2" %>
        <%= link_to "<i class='bi bi-trash'></i> Delete".html_safe, question_path(question), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>
<% end %>